In [55]:
import sys
sys.path.insert(1, './lib')
import pandas as pd
import state_abbrevs

pop = pd.read_excel('https://www2.census.gov/library/publications/2011/compendia/usa-counties/excel/POP01.xls')
pop = pop[['Area_name', 'STCOU', 'POP010210D']]
land = pd.read_excel('https://www2.census.gov/library/publications/2011/compendia/usa-counties/excel/LND01.xls')
land = land[['Areaname', 'STCOU', 'LND110210D']]
age = pd.read_excel('https://www2.census.gov/library/publications/2011/compendia/usa-counties/excel/AGE01.xls',
                    sheetname=='Sheet 2')
age = age[['Areaname', 'STCOU', 'AGE050210D']]
inc = pd.read_excel('https://www2.census.gov/library/publications/2011/compendia/usa-counties/excel/INC01.xls')
inc = inc[['Area_name', 'STCOU', 'INC110209D']]

NameError: name 'sheetname' is not defined

In [52]:
age.head()

        Areaname  STCOU  AGE010210D
0  UNITED STATES      0   308745538
1        ALABAMA   1000     4779736
2    Autauga, AL   1001       54571
3    Baldwin, AL   1003      182265
4    Barbour, AL   1005       27457

In [49]:
### population data: saves out state, county, fips, and population
df = pop.copy()
df.columns = ['area', 'fips', 'pop']
df['state'] = df['area'].str.split(', ', expand=True)[1]
df['county'] = df['area'].str.split(', ', expand=True)[0]
df = df[['state', 'county', 'fips', 'pop']]
df['state'] = df['state'].map(state_abbrevs.abbrev_us_state)
df = df[-df.state.isna()]
df.to_csv('data/population.csv', index=False)
df.head()

     state   county  fips     pop
2  Alabama  Autauga  1001   54571
3  Alabama  Baldwin  1003  182265
4  Alabama  Barbour  1005   27457
5  Alabama     Bibb  1007   22915
6  Alabama   Blount  1009   57322

In [50]:
### land area: saves out state, county, fips, and land in square miles
df = land.copy()
df.columns = ['area', 'fips', 'land_sqm']
df['state'] = df['area'].str.split(', ', expand=True)[1]
df['county'] = df['area'].str.split(', ', expand=True)[0]
df = df[['state', 'county', 'fips', 'land_sqm']]
df['state'] = df['state'].map(state_abbrevs.abbrev_us_state)
df = df[-df.state.isna()]
df.to_csv('data/land_sqm.csv', index=False)
df.head()

     state   county  fips  land_sqm
2  Alabama  Autauga  1001    594.44
3  Alabama  Baldwin  1003   1589.78
4  Alabama  Barbour  1005    884.88
5  Alabama     Bibb  1007    622.58
6  Alabama   Blount  1009    644.78

In [51]:
### age: saves out state, county, fips, and median age
df = age.copy()
df.columns = ['area', 'fips', 'age_med']
df['state'] = df['area'].str.split(', ', expand=True)[1]
df['county'] = df['area'].str.split(', ', expand=True)[0]
df = df[['state', 'county', 'fips', 'age_med']]
df['state'] = df['state'].map(state_abbrevs.abbrev_us_state)
df = df[-df.state.isna()]
df.to_csv('data/age_median.csv', index=False)
df.head()

     state   county  fips  age_med
2  Alabama  Autauga  1001    54571
3  Alabama  Baldwin  1003   182265
4  Alabama  Barbour  1005    27457
5  Alabama     Bibb  1007    22915
6  Alabama   Blount  1009    57322

In [47]:
### income: saves out state, county, fips, and median income 2005-2009
df = inc.copy()
df.columns = ['area', 'fips', 'inc_med']
df['state'] = df['area'].str.split(', ', expand=True)[1]
df['county'] = df['area'].str.split(', ', expand=True)[0]
df = df[['state', 'county', 'fips', 'inc_med']]
df['state'] = df['state'].map(state_abbrevs.abbrev_us_state)
df = df[-df.state.isna()]
df.to_csv('data/income_median.csv', index=False)
df.head()

     state   county  fips  inc_med
2  Alabama  Autauga  1001    51463
3  Alabama  Baldwin  1003    48918
4  Alabama  Barbour  1005    32537
5  Alabama     Bibb  1007    41236
6  Alabama   Blount  1009    45406