In [13]:
import sys
sys.path.insert(1, './lib')
import pandas as pd
import state_abbrevs

In [19]:
### population data: saves out state, county, fips, and population
df = pd.read_excel('data_raw/POP01.xls')
df = df[['Area_name', 'STCOU', 'POP010210D']]
df.columns = ['area', 'fips', 'pop']
df['state'] = df['area'].str.split(', ', expand=True)[1]
df['county'] = df['area'].str.split(', ', expand=True)[0]
df = df[['state', 'county', 'fips', 'pop']]
df['state'] = df['state'].map(state_abbrevs.abbrev_us_state)
df = df[-df.state.isna()]
df.to_csv('data/population.csv', index=False)
df.head()

     state   county  fips     pop
2  Alabama  Autauga  1001   54571
3  Alabama  Baldwin  1003  182265
4  Alabama  Barbour  1005   27457
5  Alabama     Bibb  1007   22915
6  Alabama   Blount  1009   57322

In [20]:
### land area: saves out state, county, fips, and land in square miles
df = pd.read_excel('data_raw/LND01.xls')
df = df[['Areaname', 'STCOU', 'LND110210D']]
df.columns = ['area', 'fips', 'land_sqm']
df['state'] = df['area'].str.split(', ', expand=True)[1]
df['county'] = df['area'].str.split(', ', expand=True)[0]
df = df[['state', 'county', 'fips', 'land_sqm']]
df['state'] = df['state'].map(state_abbrevs.abbrev_us_state)
df = df[-df.state.isna()]
df.to_csv('data/land_sqm.csv', index=False)
df.head()

     state   county  fips  land_sqm
2  Alabama  Autauga  1001    594.44
3  Alabama  Baldwin  1003   1589.78
4  Alabama  Barbour  1005    884.88
5  Alabama     Bibb  1007    622.58
6  Alabama   Blount  1009    644.78